{% extends "base.html.twig" %}

{% block body %}

  <section>
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <form action="#" method="POST">
            <label for="name">Name:</label><br>
            <input class="form-control" type="text" name="name" id="name"><br>
            <label for="address">Address:</label><br>
            <input class="form-control" type="text" name="address" id="address"><br>
            <label for="creditCard">Credit Card Number:</label><br>
            <input class="form-control" type="text" name="creditCard" id="creditCard"><br>
            <label for="email">Email:</label><br>
            <input class="form-control" type="text" name="email" id="email">
            <input type="submit" class="my-3 btn btn-primary" value="Checkout">
          </form>
        </div>

        <div class="my-3 ms-5 col">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="4">Product Name</th>
                <th colspan="5">Quantity</th>
                <th colspan="5">Net Price</th>
                <th colspan="5">VAT Amount</th>
                <th>Item Subtotal</th>
              </tr>
            </thead>
            {% set netTotal = 0 %}
            {% set vat = 0 %}

            {% for product in products %}
              {% set vat = vat + (product.unitPrice * 0.12) %}
              {% set quantity = random(1, 5) %}
              {% set netTotal = (netTotal + product.unitPrice) * quantity %}

              <tbody>
                <tr>
                  <td colspan="4">{{ product.productName }}</td>
                  <td colspan="4">{{ quantity }}</td>
                  <td colspan="4">{{ product.unitPrice }}</td>
                  <td colspan="4">{{ (product.unitPrice * 0.12) * quantity }}</td>
                  <td colspan="4">{{ (product.unitPrice + product.unitPrice * 0.12) * quantity }}</td>
                </tr>
              </tbody>
            {% endfor %}
          </table>
          <div class="my-5 ms-5 col">
            <p>Net Total : {{ netTotal }}</p>
            <p>Sub Total (inc VAT): {{ netTotal + vat }}</p>
            <p>Gross Total : {{ netTotal + vat }}</p>
          </div>
        </div>


      </div>
    </div>
  </section>

{% endblock %}